# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Slime-Project.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\FTP\GameDev\Unity Projects\Slime-Project\.idea\.idea.Slime-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
